body{
    /* background-color:black ; */
    color: #fff;
    text-align: center;
}


/****************** class ***************/
/* overall conatiner navebar + landing page */
.cf-custom{
    padding: 3%  15%;
    background-color: #222A36;
}


/* navbar */

.navbar-custom{
color: #fff;
}

.navbar-ul-custom{
    margin-left: auto;
    margin-right: 0;
}



.test{
    height: 2000px;
    background-color: aqua;
}

.nav-logo{
    height: 3rem;
    width: 3rem;
}

/* landing page  */
.round-absolute{
    border-radius: 100%;
    
    text-align: center;
    /* padding: 3.5rem 0; */
    color: #fff;
    font-family: 'Golos Text';
    position: absolute;
    font-size: 1.5rem;
    font-weight: bolder;


}


.landing-page-pic{
    position: relative;
    width: 80%;
    bottom: 18%;
}

.landing-page-intro{
    font-size: medium;
    line-height: 1.2;
    margin-top: 10%;
}


.developer-div{
height: 12rem;
width: 12rem;
padding: 4.6rem 0;
font-size: 1.8rem;
top: 63%;
right: 30%;
z-index: 1;
background-color:#676CDB;
}
.problem-div{
    left:25%;
    top: 20%;
    height: 8rem;
    width: 8rem;
    padding: 2rem 0;
    background-color: #3AAFC9;

}

/* intorduction  */

.introducion{
    /* background-color: aquamarine; */
    position: absolute;
    font-size: 300%;
    top:65%;
    left: 5%;
}
/* footer */

.footer{
    background-color:#222A36;
    padding: 7% 15% 0;
    color: #3E4651;
}

.fa-linkedin-in:hover{
    color: rgb(50, 82, 222);
}

.fa-facebook:hover{
    color: rgb(50, 82, 222);
    background-color: #fff;
    border-radius: 100%;
}

.fa-github:hover{
    background-color: #fff;
    border-radius: 100%;
    color: black;
}
.fa-instagram:hover{
    color: rgb(223, 59, 168);
    /* border-radius: 30%; */
    /* background-color: #fff; */
    
    
}
.fa-brands{
    text-decoration: none;
    margin: 5% 2%;
    padding: 0;
    color: #3E4651;
}
.copyright-text{
    font-size: 1.5rem;
    padding-bottom: 100px;
}
.footer-logo{
    height:10%;
    width: 10%;
}
/************ ID  *************************/

/* #navbar{
    background-color:#222A36;
} */

